{% extends "master/base.html" %}

{% block content %}
{% include "master/messages.html" %}


<div class="container">
    <h3>Username : {{request.user.username}}</h3>

    <div class="row">
        <div class="card col-md-4">
            <h5 class="card-header">Total Cash</h5>
                <div class="card-body">
            <h5 class="card-title">{{total_Cash}} tk</h5>
            </div>
        </div>

        <div class="card col-md-4">
            <h5 class="card-header">Total Expense</h5>
                <div class="card-body">
            <h5 class="card-title">{{total_Expense}} tk</h5>
            </div>
        </div>

        <div class="card col-md-4">
            <h5 class="card-header">Less or More</h5>
                <div class="card-body">
            <h5 class="card-title">{{less_more}} tk</h5>
            </div>
        </div>
    </div>
</div>

{% endblock content %}