<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url "dashboard_page" %}">Dashboard</a>
        <a class="nav-link" href="{% url "profile_page" %}">Profile</a>
        <a class="nav-link" href="{% url "login_page" %}">Login</a>
        
        <a class="nav-link" href="{% url "singup_page" %}">Registration</a>
        <a class="nav-link" href="{% url "signout_page" %}">Logout</a>
        
      </div>
    </div>
  </div>
</nav>